includes = {
    "mediaPrint": true,
    "main": true,
    "fonts": true,
    "display": true,
    "taxonomy": true,
    "container": true,
    "container-fluid": true,
    "row": true,
    "noGutters": true,
    "col": true,
    "offset": true,
    "order": true,
    "table": true,
    "formControl": true,
    "btn": true,
    "btnPrimary": true,
    "btnSecondary": true,
    "btnSuccess": true,
    "btnInfo": true,
    "btnWarning": true,
    "btnDanger": true,
    "btnLight": true,
    "btnDark": true,
    "btnOutlinePrimary": true,
    "btnOutlineSecondary": true,
    "btnOutlineSuccess": true,
    "btnOutlineInfo": true,
    "btnOutlineWarning": true,
    "btnOutlineDanger": true,
    "btnOutlineLight": true,
    "btnOutlineDark": true,
    "btnLink": true,
    "btnDrop": true,
    "btnGroup": true,
    "btnMsc": true,
    "input": true,
    "custom": true,
    "nav": true,
    "card": true,
    "breadcrumb": true,
    "pagination": true,
    "badge": true,
    "jumbotron": true,
    "alert": true,
    "progress": true,
    "media": true,
    "listGroup": true,
    "close": true,
    "modal": true,
    "tooltip": true,
    "popover": true,
    "carousel": true,
    "align": true,
    "toast":true,
    "bg": true,
    "border": true,
    "rounded": true,
    "d": true,
    "embed": true,
    "flex": true,
    "justify": true,
    "alignItem": true,
    "alignContent": true,
    "alignSelf": true,
    "float": true,
    "position": true,
    "text": true,
    "visible": true
}

helpers = {
  "widthHeightHelper": true,
  "marginHelper": true,
  "paddingHelper": true
}
