


// colors
$white = #fff
$gray-100 = #f8f9fa
$gray-200 = #e9ecef
$gray-300 = #dee2e6
$gray-400 = #ced4da
$gray-500 = #adb5bd
$gray-600 = #868e96
$gray-700 = #495057
$gray-800 = #343a40
$gray-900 = #212529
$black = #000

$primary = #007bff
$primaryHov = #0062cc
$primaryBtnHov = #0069d9
$secondary = $gray-600
$secondaryHov = #6c757d
$secondaryBtnHov = #727b84
$success = #28a745
$successHov = #1e7e34
$successBtnHov = #218838
$info = #17a2b8
$infoHov = #117a8b
$infoBtnHov = #138496
$warning = #ffc107
$warningHov = #d39e00
$warningBtnHov = #e0a800
$danger = #dc3545
$dangerHov = #bd2130
$dangerBtnHov = #c82333
$light = $gray-100
$lightHov = #dae0e5
$lightBtnHov = #e2e6ea
$dark = $gray-800
$darkHov = #1d2124
$darkBtnHov = #23272b

$bodyColor = $white
$bodyBackground = $gray-900

//grid breakpoints
$grid-sm = 576px
$grid-md = 768px
$grid-lg = 992px
$grid-xl = 1200px

//container-max-size
$container-sm = 540px
$container-md = 720px
$container-lg = 960px
$container-xl = 1140px


$line-height-lg = 1.5
$line-height-sm = 1.5

$border-width = 1px
$border-color = $gray-200

$border-radius = .25rem
$border-radius-lg = .3rem
$border-radius-sm = .2rem



//fonts
$font-size-base = 1rem
$font-size-lg = 1.25rem
$font-size-sm = .875rem

$font-weight-light = 300
$font-weight-normal = normal
$font-weight-bold = bold

$font-family-base = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
$font-family-monospace =  "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace


$h1-font-size = 2.5rem
$h2-font-size = 2rem
$h3-font-size = 1.75rem
$h4-font-size = 1.5rem
$h5-font-size = 1.25rem
$h6-font-size = $font-size-base


$headings-margin-bottom  = .5rem
$headings-font-family = inherit
$headings-font-weight = 500
$headings-line-height  = 1.1
$headings-color = inherit

//display
$display1-size = 6rem
$display2-size = 5.5rem
$display3-size = 4.5rem
$display4-size = 3.5rem

$display1-weight = $font-weight-light
$display2-weight = $font-weight-light
$display3-weight = $font-weight-light
$display4-weight = $font-weight-light

$display-line-height = $headings-line-height

// This variable affects the `.h-*` and `.w-*` classes.
$size-25 = 25%,
$size-50 = 50%,
$size-75 = 75%,
$size-100 = 100%


$small-font-size = 80%

$lead-font-size = $h5-font-size
$lead-font-weight = $font-weight-light

$hr-border-color = rgba($black,.1)
$hr-border-width = $border-width

$blockquote-font-size = ($font-size-base * 1.5)

$text-muted = $gray-600

$null = 0

//helper-sizes
$helper-size-0 = $null
$helper-size-1 = .25rem
$helper-size-2 = .5rem
$helper-size-3 = 1rem
$helper-size-4 = 1.5rem
$helper-size-5 = 3rem
