
// colors
$primary = #007bff
$primaryHov = #0062cc
$primaryBtnHov = #0069d9
$secondary = #868e96
$secondaryHov = #6c757d
$secondaryBtnHov = #727b84
$success = #28a745
$successHov = #1e7e34
$successBtnHov = #218838
$info = #17a2b8
$infoHov = #117a8b
$infoBtnHov = #138496
$warning = #ffc107
$warningHov = #d39e00
$warningBtnHov = #e0a800
$danger = #dc3545
$dangerHov = #bd2130
$dangerBtnHov = #c82333
$light = #f8f9fa
$lightHov = #dae0e5
$lightBtnHov = #e2e6ea
$dark = #343a40
$darkHov = #1d2124
$darkBtnHov = #23272b

$white = #fff
$black = #000

$bodyColor = #212529
$bodyBackground = $white

//grid breakpoints
$grid-sm = 576px
$grid-md = 768px
$grid-lg = 992px
$grid-xl = 1200px

//container-max-size
$container-sm = 540px
$container-md = 720px
$container-lg = 960px
$container-xl = 1140px

//fonts
$font-weight-light = 300
$font-weight-normal = normal
$font-weight-bold = bold

$font-family-base = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
$font-family-monospace =  "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace

$h1-font-size = 2.5rem
$h2-font-size = 2rem
$h3-font-size = 1.75rem
$h4-font-size = 1.5rem
$h5-font-size = 1.25rem
$h6-font-size = 1rem

//display
$display1-size = 6rem
$display2-size = 5.5rem
$display3-size = 4.5rem
$display4-size = 3.5rem

$display1-weight = $font-weight-light
$display2-weight = $font-weight-light
$display3-weight = $font-weight-light
$display4-weight = $font-weight-light
