.w-25
    width $size-25 !important

.w-50
    width $size-50 !important

.w-75
    width $size-75 !important

.w-100
    width $size-100 !important

.h-25
    height $size-25 !important

.h-50
    height $size-50 !important

.h-75
    height $size-75 !important

.h-100
    height $size-100 !important
