.container
    margin-right auto
    margin-left auto
    padding-right 15px
    padding-left 15px
    width 100%

container(arg1,arg2)
  @media (min-width: arg1)
    .container
      max-width arg2

if $container-sm-include
  container($grid-sm,$container-sm)
if $container-md-include
  container($grid-md,$container-md)
if $container-lg-include
  container($grid-lg,$container-lg)
if $container-xl-include
  container($grid-xl,$container-xl)
