
.text-justify
    text-align justify !important

.text-nowrap
    white-space nowrap !important

.text-truncate
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

if $text-directions-base-include
  for i in $directions
    .text-{i}
      text-align i !important

if $text-directions-sm-include
  @media (min-width: $grid-sm)
    for i in $directions
      .text-sm-{i}
        text-align i !important

if $text-directions-md-include
  @media (min-width: $grid-md)
    for i in $directions
      .text-md-{i}
        text-align i !important

if $text-directions-lg-include
  @media (min-width: $grid-lg)
    for i in $directions
      .text-lg-{i}
        text-align i !important

if $text-directions-xl-include
  @media (min-width: $grid-xl)
    for i in $directions
      .text-xl-{i}
          text-align i !important

if $text-transform-include
  for i in $textTransform
    .text-{i}
        text-transform i !important


.font-weight-normal
    font-weight $font-weight-normal

.font-weight-bold
    font-weight $font-weight-bold

.font-italic
    font-style italic

.text-white
    color $white !important

if $text-primary-include
  .text-primary
      color $primary !important

  a.text-primary:focus, a.text-primary:hover
      color $primaryHov !important

if $text-secondary-include
  .text-secondary
      color $secondary !important

  a.text-secondary:focus, a.text-secondary:hover
      color $secondaryHov !important

if $text-success-include
  .text-success
      color $success !important

  a.text-success:focus, a.text-success:hover
      color $successHov !important

if $text-info-include
  .text-info
      color $info !important

  a.text-info:focus, a.text-info:hover
      color $infoHov !important

if $text-warning-include
  .text-warning
      color $warning !important

  a.text-warning:focus, a.text-warning:hover
      color $warningHov !important

if $text-danger-include
  .text-danger
      color $danger !important

  a.text-danger:focus, a.text-danger:hover
      color $dangerHov !important

if $text-light-include
  .text-light
      color $light !important

  a.text-light:focus, a.text-light:hover
      color $lightHov !important

if $text-dark-include
  .text-dark
      color $dark !important

  a.text-dark:focus, a.text-dark:hover
      color $darkHov !important

  .text-muted
      color $text-muted !important

  .text-hide
      font 0/0 a
      color transparent
      text-shadow none
      background-color transparent
      border 0
