.text-justify
    text-align justify !important

.text-nowrap
    white-space nowrap !important

.text-truncate
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

.text-left
    text-align left !important

.text-right
    text-align right !important

.text-center
    text-align center !important

@media (min-width: 576px)
    .text-sm-left
        text-align left !important
    .text-sm-right
        text-align right !important
    .text-sm-center
        text-align center !important

@media (min-width: 768px)
    .text-md-left
        text-align left !important
    .text-md-right
        text-align right !important
    .text-md-center
        text-align center !important

@media (min-width: 992px)
    .text-lg-left
        text-align left !important
    .text-lg-right
        text-align right !important
    .text-lg-center
        text-align center !important

@media (min-width: 1200px)
    .text-xl-left
        text-align left !important
    .text-xl-right
        text-align right !important
    .text-xl-center
        text-align center !important

.text-lowercase
    text-transform lowercase !important

.text-uppercase
    text-transform uppercase !important

.text-capitalize
    text-transform capitalize !important

.font-weight-normal
    font-weight normal

.font-weight-bold
    font-weight bold

.font-italic
    font-style italic

.text-white
    color #fff !important

.text-primary
    color #007bff !important

a.text-primary:focus, a.text-primary:hover
    color #0062cc !important

.text-secondary
    color #868e96 !important

a.text-secondary:focus, a.text-secondary:hover
    color #6c757d !important

.text-success
    color #28a745 !important

a.text-success:focus, a.text-success:hover
    color #1e7e34 !important

.text-info
    color #17a2b8 !important

a.text-info:focus, a.text-info:hover
    color #117a8b !important

.text-warning
    color #ffc107 !important

a.text-warning:focus, a.text-warning:hover
    color #d39e00 !important

.text-danger
    color #dc3545 !important

a.text-danger:focus, a.text-danger:hover
    color #bd2130 !important

.text-light
    color #f8f9fa !important

a.text-light:focus, a.text-light:hover
    color #dae0e5 !important

.text-dark
    color #343a40 !important

a.text-dark:focus, a.text-dark:hover
    color #1d2124 !important

.text-muted
    color #868e96 !important

.text-hide
    font 0/0 a
    color transparent
    text-shadow none
    background-color transparent
    border 0